 #competences ul{
     display: flex;
     justify-content: space-evenly;
     flex-wrap: wrap;
     list-style: none;
     margin: var(--spacing);
 }

#competences ul li{
    border-radius: 100%;
    height: 340px;
    width: 340px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: none;
    margin: var(--spacing);
    background-color: var(--dark-sec);
}

#competences ul li:nth-of-type(1){
    background-image: url("../Images/Compétences/competences_discretion.jpg");
}

#competences ul li:nth-of-type(2){
    background-image: url("../Images/Compétences/competences_investigation.jpg");
}

#competences ul li:nth-of-type(3){
    background-image: url("../Images/Compétences/competences_justice.jpg");
}

#competences ul li:hover{
    box-shadow:inset 0 0 0 200px rgba(0,0,0,0.75);
}

.comp_description{
    display: none;
}

#competences ul li:hover .comp_description{
    display: inline;
    margin: var(--spacing-lg);
    text-align: center;
}

#competences ul li .comp_nom{
    font-size: var(--medium-size);
    background-color: rgba(0, 0, 0, 0.75);
    border-radius: 4px;
}

#competences ul li:hover .comp_nom{
    display: none;
}

@media screen and (max-width: 768px){
    #competences ul li{
        position: relative;
        box-shadow:inset 0 0 0 200px rgba(0,0,0,0.75);
    }
    .comp_description{
        display: inline;
        text-align: center;
        margin: var(--spacing-lg);
        border-radius: 4px;
    }


    #competences ul li .comp_nom{
        display: inline;
        position: absolute;
        top: 30px;
        text-align: center;
        background-color: rgba(0, 0, 0, 0);
    }
    #competences ul li:hover .comp_nom{
        display: inline;
    }

}

@media screen and (max-width: 460px){
    #competences ul li{
        height: 220px;
        width: 220px;
    }
    #competences ul li:hover .comp_description{
        display: none;
    }
    #competences ul li:hover .comp_nom{
        display: inline;
    }
    .comp_description{
        display: none;
    }

    #competences ul li .comp_nom{
        top: 95px;
    }

    #competences ul li:nth-of-type(1){
        background-image: url("../Images/Compétences/competences_discretion_small.jpg");
    }
    
    #competences ul li:nth-of-type(2){
        background-image: url("../Images/Compétences/competences_investigation_small.jpg");
    }
    
    #competences ul li:nth-of-type(3){
        background-image: url("../Images/Compétences/competences_justice_small.jpg");
    }
}