.contact {
    display: flex;
    align-items: stretch;
    justify-content: space-around;
}
.coordonnees {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: space-evenly;
}
.mail_batman,
.tel_batman {
    font-family: var(--title-font);
    font-size: 1.8rem;
    display: flex;
}
.mail_batman a {
    text-decoration: none;
    color: var(--main-font); 
    transition: transform 1s;
}
.mail_batman a:hover {
    transform: scale(1.15);
    color: var(--main-color);
}
.mail_batman img,
.tel_batman img {
    margin-right: 26px;
}
.formulaire_mail {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border: none;
}
.formulaire_mail textarea {
    max-width: 320px;
}
label,
input,
textarea,
legend {
    margin: 4px 0 4px;
}
legend {
    font-family: var(--title-font);
    font-size: 1.2rem;
}
.formulaire_mail button {
    align-self: flex-start;
}
.formulaire_tel {
    display: flex;
    flex-direction: column;
    height: 363px;
    align-items: flex-start;
    justify-content: space-between;
    border: none;
}  
.button {
    display: inline-block;
    border-radius: 4px;
    background-color: var(--main-color);
    border: none;
    color: var(--dark);
    text-align: center;
    font-size: 20px;
    padding: 12px;
    width: 120px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}   
.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}
.button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}
.button:hover span {
    padding-right: 25px;
}     
.button:hover span:after {
    opacity: 1;
    right: 0;
}
@media only screen and (max-width: 1200px) {
.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    }
.coordonnees,
.formulaire_mail,
.formulaire_tel {
    display: flex;
    align-items: center;
    }
.formulaire_mail button {
    align-self: center;
    }
.mail_batman {
    margin-bottom: 8px;
    }
.tel_batman {
    margin-top: 8px;
    }
.formulaire_mail legend,
.formulaire_tel legend {
    width: auto;
    margin: 0 auto;
    }
}  
@media only screen and (max-width: 360px) {
    .mail_batman,
    .tel_batman {
        font-size: 1.5rem;
    }
}
