.contact {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: space-around;
}
.coordonnees {
    display: flex;
    flex-direction: column;
    align-items: left;
}
.coordonnees p {
    margin: 33% 0;
}
.formulaire_mail {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: none;
}
.formulaire_tel {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: none;
}