@keyframes animation {
    50% {
        transform: rotate(-10deg);
    }

    100% {
        transform: rotate(10deg);
    }
}


#experiences {
    display: flex;
    justify-content: space-around;
    align-items: center
}

#arrestations {
    text-align: center;
    padding-top: 1em;
}

#experiences h3 {
    text-align: center;
    margin-bottom: 1em;
}

#references {
    display: flex;
    align-items: center;
    height: 50vh;
}


#references img {
    width: 12em;
}

#references img:hover {
    animation: animation 0.2s infinite;
    width: 11.2em;
}


#formation {
    display: flex;
    flex-direction: column;
    height: 60vh;
}

#formation img {
    margin-top: 10vh;
}

#formation p {
    text-align: center;
}


#experiences #enfants {
    height: 60vh;

}

/* #formation ul {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#formation ul li {
    list-style: none;
}*/

@media screen and (max-width: 768px) {
    #experiences {
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        align-items: center;
    }

    #references img:hover {
        animation: none;
        width: 12em;
    }

    #formation {
        padding: 0vh;
    }
}
