footer {
    background-color: var(--main-color);
    padding: 16px 0;
}
.footer_container {
    display: flex;
    justify-content: space-evenly;
}
.footer_container li {
    list-style-type: none;
}
.footer_container li a {
    text-decoration: none;
}