#haut {
    box-shadow: inset 0 0 0 2000px var(--dark);
}

.description {
    display: flex;
    justify-content: space-between;

}

h1 {
    font-size: 70pt;
    /*margin-left: var(--spacing-lg);*/
    /*margin-top: 10%;*/

}

#noms {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    /*height: 45vw;*/
    margin-right: 1%;
    margin-left: 1%;
}

#noms p {
    font-size: 3em;
    text-align: center; 
    padding-bottom: 5%;
}



#demande {
    width: 20em;
    display: flex;
    align-items: center;
    margin-right: 1%;
    margin-left: 1%;
}
#demande p {
    font-size: 14pt;
}

.description img {

    height: 45vw;

}
.pix-home {
    height: 20px;
}

@media screen and (max-width: 950px) {

    #demande p {
        font-size: 10pt;
    }
    h1 {
        font-size: 40pt;
        margin-left: var(--spacing-lg);
        margin-right: 5%;
    
    }
    #noms p {
        font-size: 14pt;
    }
}
