#haut {
    display: flex;
    justify-content: center;
    box-shadow: inset 0 0 0 2000px var(--dark);
    background-image: url("../background/batman.jpg");
    overflow: hidden;
    height: 93.5vh;
}

.description {
    display: flex;
    justify-content: space-evenly;
    height: 100%;
    align-items: center;
}

h1 {
    font-size: 7vw;

}

#noms {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    /*margin-right: 1%;
    margin-left: 1%;*/
    height: 50%;
}

#noms p {
    font-size: 3vw;
    text-align: center;
    padding: 5%;
}



#demande {
    display: flex;
    align-items: center;
    height: 50%;
    margin-right: 2%;
    margin-left: 2%;
    padding-bottom: 2%;
}

#demande p {
    font-size: 14pt;
}

.speatch {
    width: 50%;
    height: 100%;
}

.batman-pic{
    background-image: url("../Images/entete_large.jpg");
    height: 610px;
    width: 610px;
    border-radius: 100%;

}

.pix-home {
    height: 20px;
}

@media screen and (max-width: 1200px){
    .batman-pic{
        background-image: url("../Images/entete_med.jpg");
        height: 500px;
        width: 500px;
    }
}

@media screen and (max-width: 980px){
    #demande {
        height: 50%;
        width: 80%;
        margin: auto;
    }
    .speatch {
        width: 40%;
    }
    
}

@media screen and (max-width: 768px) {
    .batman-pic{
        background-image: url("../Images/entete_reg.jpg");
        height: 300px;
        width: 300px;
    }
    #demande p {
        font-size: 2vh;
    }

    #demande {
        height: 50%;
        width: 100%;
        text-align: center;
        /* margin: auto; */
    }
    .description {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        height: 100%;
        align-items: center;
    }
    .speatch {
        width: 80%;
        height: 50%;
    }

    h1 {
        font-size: 10vw;
        margin-left: var(--spacing-lg);
        margin-right: 5%;

    }

    #noms p {
        font-size: 5vw;
    }
    #haut{
        height: 100vh;
    }
}

