#haut {
    display: flex;
    justify-content: center;
    box-shadow: inset 0 0 0 2000px var(--dark);
    height: 92vh;
}

.description {
    display: flex;
    justify-content: space-between;
}

h1 {
    font-size: 70pt;
    margin-left: var(--spacing-lg);
    margin-top: 10%;

}

.text-description {
    display: flex;
    align-items: center;
    height: 45vw;
}

#noms p {
    font-size: 3em;
}


#demande {
    width: 20em;
    display: flex;
    align-items: center;
}

.description img {

    padding: 2.5% 2.5% 1%;
    height: 45vw;

}

.text-description h1 {
    align-self: start;
}

.text-description p {

    align-self: flex-end;
    text-align: right;
    font-size: 20pt;
    padding-bottom: 5%;
}

a:first-of-type img {
    height: 20px;
}

@media screen and (max-width: 950px) {

    .text-description p {
        font-size: 2vw;
    }

    h1 {
        font-size: 10vw;
    }

    .headernav a {
        font-size: 2vw;
        padding: 0px;
    }
}
