
.hobbies {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    
}
.hobbies figcaption{
    text-align: center;
    
}

.hobbies figure {
   height: 15vh;
   width: 15%;
   display: flex;
   flex-direction: column;
   margin-bottom: var(--spacing);
   margin-top: var(--spacing);
}

.hobbies figure img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    background: white ;

}

#interets {
    height: 250px;
    display: flex;
    flex-direction: column;   
    
}

#interets h2 {
    margin: var(--spacing) 0px;
}