#mobilite {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#vehicules3 {
    margin-top: 10vh;
}

#vehicules img {
    width: 15em;
    height: 10em;
    padding: 1em;
    object-fit: cover;
}

#mobilite h3 {
    text-align: center;
    margin-bottom: 1em;
}

#mobilite img {
    opacity: 0.5;
}

#mobilite img:hover {
    opacity: 1;
    transform: scale(1.1, 1.1);
}


#vehicules {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}



#vehicules figcaption {
    text-align: center;
}

.titres {
    align-items: center;
}

@media screen and (max-width: 268px) {
    #mobilite {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .enfants {
        padding: 10vw 0;
    }

    #mobilite img {
        opacity: 1;
    }

    #vehicules3 {
        margin-top: 0vh;
    }

}
