#mobilite {
    display: flex;
    justify-content: space-around;
}



#vehicules img {
    width: 300px;
    height: 30vh;
    padding: 1em;
    object-fit: cover;
    opacity: 0.5;
    border-radius: 60%;
}



#mobilite img:hover {
    opacity: 1;
    transform: scale(1.1, 1.1);
}


#vehicules {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#vehicules figcaption {
    text-align: center;
}

#mobilite h3 {
    text-align: center;
    margin-bottom: 1em;
}

.titres {
    align-items: center;
}

#mobilite .enfants {}

#maps {
    display: flex;
    justify-content: center;
}


@media screen and (max-width: 900px) {
    #mobilite {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .enfants {}

    #mobilite img {
        opacity: 1;
    }

    #mobilite img:hover {
        opacity: 1;
        transform: none;
    }


    #mobilite .enfants {
        padding: 0;
    }

}
