#mobilite {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#vehicules img {
    width: 15em;
    height: 10em;
    padding: 1em;
    object-fit: cover;
}

#mobilite h2 {
    text-align: center;
    padding-bottom: 2em;
}

#mobilite img {
    opacity: 0.5;
}

#mobilite img:hover {
    opacity: 1;
    transform: scale(1.1, 1.1);
}


#vehicules {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}



#vehicules figcaption {
    text-align: center;
}
