header {
    display: flex;
    flex-direction: column-reverse;

}

.headernav {
    display: flex;
    justify-content: space-around;
    position: sticky;
    top: 0px;
    z-index: 10;
    background-color: var(--main-color);

}

.headernav a {
    color: var(--dark);
    padding: var(--spacing);
    font-family: var(--title-font);
    text-decoration: none;
    /*font-size: 2vw;*/
    background-color: var(--main-color);
    transition-property: background-color;
    transition-duration: 0.5s;
    border-radius: 60%;
}


.headernav a:hover {
    background-color: var(--dark);
    color: var(--main-color);
    text-decoration: underline;

}
.main-navigation, .links {
    display: none;

}

@media screen and (max-width: 768px) {
    .headernav {
        display: none;
    }
    .main-navigation {
        display: block;
        position: fixed;
        right: 2%;
        top: 2%;
        z-index: 1;
        
    }
    .main-navigation img {
        height: 10vw;
        box-shadow: 0 0 5px 3px rgba(240, 248, 255, 0.568);
        border-radius: 50%;
    }
    .links:target {
      
/*
        position: fixed;
        z-index: 1000;
        top: 0;*/
        clip-path: circle(400% at 0 0);
    }
    .links {

        width: 100%;
        height: 100%;
        background-color: var(--main-color);
        justify-content: space-around;
        flex-direction: column;
        align-items: center;
        display: flex;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        flex-direction: column;
        display: flex;
        clip-path: circle(0px);
        transition: all 1s ease;
        z-index: 2;
    }
    .links a {
        color: var(--dark);
        font-size: 7vw;
        text-decoration: none;
    }
    .links a:active {
        text-decoration: underline;
    }
    .home {
        height: 30vw;
    }

}

