header {
    display: flex;
    flex-direction: column-reverse;

}

.headernav {
    display: flex;
    justify-content: space-around;
    position: sticky;
    top: 0px;
    background-color: var(--main-color);
}
.headernav a {
    color: var(--dark);
    padding: var(--spacing);
    font-family: var(--title-font);
    text-decoration: none;
}

.description {
   display: flex;
   /* justify-content: space-between; */
}
h1 {
    font-size: var(--large-size);
    margin-left: var(--spacing-lg);
    margin-top: 20%;
}
.text-description {
    display: flex;
    flex-direction: column ;
    align-items: center;
    justify-content: space-between;
    width: 50%;
    padding-bottom: 5%;
}
.description img {
   /* margin-right: 5px;  */
   padding: 5%;
   justify-self: flex-end;
   width: 50%;

}
.text-description h1 {
    align-self: start;
}
.text-description p {
    width: 70%;
    align-self: flex-end;
    text-align: right;
}
