@import "navbar.css";
@import "body.css";
@import "cards.css";
@import "form.css";
@import "contact.css";
@import "interets.css";
@import "competences.css";
@import "projets.css";
@import "references.css";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main-color: rgb(67, 210, 68);
    --dark: rgb(67, 210, 68);
    --light: rgb(32, 34, 32);

    --main-font: 'Oxanium', cursive;
    --title-font: ;
    --main-size: 16px;
    --spacing-sm: calc(var(--spacing) / 2);
    --spacing: 16px;
    --spacing-lg: calc(var(--spacing) * 2);
}

body {
    font-family: var(--main-font);
    font-size: var(--main-size);
}

/*h1,
h2 {
    font-family: var(--title-font);
}*/
