@import "navbar.css";
@import "body.css";
@import "cards.css";
@import "contact.css";
@import "interets.css";
@import "competences.css";
@import "projets.css";
@import "references.css";
@import "mobilite.css";
@import "footer.css";
@import "experience.css";
@import "header.css";
@import url('https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css?family=Oxanium&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

:root {

    --main-color: rgb(206, 206, 49);
    --dark: rgb(29, 28, 28);
    --dark-sec: rgb(54, 51, 51);
    --light: rgb(199, 199, 179);
    --main-font: 'Oxanium', cursive;
    --title-font: 'Permanent Marker', cursive;

    --main-size: 14pt;
    --medium-size: 16pt;
    --large-size: 70pt;
    --spacing-sm: calc(var(--spacing) / 2);
    --spacing: 16px;
    --spacing-lg: calc(var(--spacing) * 2);

    --breakpoint-tablet: 768px;
    --breakpoint-mobile: 414px;
}

body {
    font-family: var(--main-font);
    font-size: var(--main-size);
    color: var(--light);

    background-image: url(../background/dark_leather_@2X.png);
    /* background-attachment: fixed; */
    /* background-repeat: repeat; */
    /* background-size: cover; */
    /* background-position: bottom; */
}

h1,
h2 {
    font-family: var(--title-font);
    color: var(--main-color);
}

.titres {
    background-image: url("../Images/background-test-titres.png");
    width: 400px;
    height: 136px;
    margin: auto;
    position: relative;
    display: flex;
    justify-content: center;
}

h2 {
    /* border-radius: 5px; */
    position: absolute;
    text-align: center;
    top: 30px;

}

main {
    margin: var(--spacing-lg);
}

section {

    padding-top: 64px;
    margin-bottom: var(--spacing-lg);
}

@media screen and (min-width: 768px) {

    header,
    section {
        height: 650px;
    }

    #mob {
        align-items: center;
    }
}


/*@media screen and (max-width: 960px) {
    section {
        padding-top: 3%;
    }
}*/
